<div class="container">
  <ul class="list-group robot-parts-cta">
      <li class="list-group-item">
        <a [routerLink]="['/catalog', 'phone']" class="part" i18n>
        Smart Phone
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/catalog', 'tablet']" class="part" i18n>
        Tablet
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/catalog', 'smarttv']" class="part" i18n>
        Smart TV
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/catalog','Airpods']" class="part" i18n>
        Airpods
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/catalog','Camera']" class="part" i18n>
        Camera
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/catalog','iPad']" class="part" i18n>
        iPad
      </a>
    </li>
  </ul>
</div>



