.align-items-center {
  align-items: center;
}

.navbar-nav .nav-link {
  color: #333;
  margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.user-section {
  display: flex;
  align-items: center;
}

.user-section .btn {
  margin-left: 10px;
}

.cart-icon {
  color: #0b63c2;
  font-size: 2.5rem;
  margin-left: 100px;
}

.search-input:focus {
  background-color: blue;
}

.profile
{
  width: 60px;
  height: 60px;

}


/* navbar.component.css */

/* Optionnel: Personnalisation des styles du menu déroulant */
.dropdown-menu {
  min-width: 200px;
}

.dropdown-item {
  font-size: 1rem;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}
